.App {
  margin: 20px auto;
  text-align: center;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

thead {
  background-color: white;
}

tbody {
  background-color: white;
}

table,
th,
td {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

td,
th {
	padding: 5px;
}
